<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ravenscroft GPA Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDEE288C1E5E8B67008C5264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEE28A21E5E8B68008C5264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEE28AD1E5E8B68008C5264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
